<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952997310244-kn50mhm70eucelshnokjpqdvbodn9ihk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952997310244-kn50mhm70eucelshnokjpqdvbodn9ihk</string>
	<key>API_KEY</key>
	<string>AIzaSyC2c5yRXQX4Ysqzu1LQOHM3CEIAXnfSDGw</string>
	<key>GCM_SENDER_ID</key>
	<string>952997310244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appmumbuca</string>
	<key>PROJECT_ID</key>
	<string>app-pesquis-satisf-mumbuca</string>
	<key>STORAGE_BUCKET</key>
	<string>app-pesquis-satisf-mumbuca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952997310244:ios:d3a305180dcb59e35d0db1</string>
</dict>
</plist>